<!DOCTYPE HTML
     PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Cmus Remote - Error</title>
   <link rel="stylesheet" type="text/css" href="{{path}}/static/style.css">
</head>
<body>
<div id="header" class="error">
	<h1>Error</h1>
</div>
<div class="main">
	<p>Couldn't connect to socket. Please, check the configuration and that Cmus is running. If the problem persists, ask you systems administrator.</p>

	<p>Please refresh the page to retry.</p>
</div>
</body>
</html>
