<!DOCTYPE html>
<html lang="en">
<head>
<title>cmus Remote</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   {% if message is defined %}<meta http-equiv="REFRESH" content="1; url=..">
   {% else %}<meta http-equiv="REFRESH" content="10">
   {% endif %}

   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link rel="stylesheet" type="text/css" href="/static/icons.css">
</head>
<body>
	<h1>cmus Remote</h1>

	{% if message is defined %}
	<div class="message"><p>{{message}}<p></div>
	{% elif actions is defined %}
	<div id="actions_container">
		<ul id="actions_list">
			{% for action in actions %}
			<li><a href="/{{action}}">{% if action == hilite %}<span class="hilite"><i class="icon-{{action}}"></i></span>{% else %}<i class="icon-{{action}}"></i>{% endif %}</a></li>
			{% endfor %}
		</ul>
	</div>

	{% endif %}

	<div id="status_container">
		<table id="status_table">
			<tr>
				<td colspan=2 id="title">Now playing...</td>
			</tr>
			<tr>
				<td class="key">artist</td>
				<td class="value">{% if status['artist'] is defined %}{{status['artist']}}{% else %}N/A{% endif %}</td>
			</tr>
			<tr>
				<td class="key">title</td>
				<td class="value">{% if status['title'] is defined %}{{status['title']}}{% else %}N/A{% endif %}{% if status['duration'] is defined %} <span class="extrainfo">({{status['duration']}})</span>{% endif %}</td>
			</tr>
			<tr>
				<td class="key">album</td>
				<td class="value">{% if status['album'] is defined %}{{status['album']}} {% if status['date'] is defined %}<span class="extrainfo">({{status['date']}})</span>{% endif %}{% else %}N/A{% endif %}</td>
				
			</tr>
		</table>
	</div>
</body>
</html>
